@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('nav.css');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Creates main basis for body coloring */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  border: rgb(128, 128, 128) none 4px;
  margin: 0;
  background-color: rgb(231, 231, 231);

}

/* Desktop CSS for .section1 class */
.section1 {
  position: relative;
  text-align: center;
  color: #fdfdfd;
  margin-top: 0px;
  margin-bottom: 0px;
  border: gray none 4px;
  border: none;
  font-weight: 600;


}

/* Main CSS for text centered section */
.textcentered {
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  animation-duration: 0.5s;
  width: 100%;
  font-size: 45px;
  transform: translate(-50%, -50%);
  border: gray none 4px;
}


/* Desktop CSS for current listings buttons */
.categorybuttonimg {
  width: 175px;
  padding: 35px;
}

/* Desktop CSS for text based input fields for form */
input[type="text"],
select,
textarea {
  padding: 10px 10px 10px 3px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border: #302f2f solid 4px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  background-color: #1c1c1c;
  color: white;
  font-size: 18px;
}

/* Desktop CSS for file upload input field for form  */
input[type='file'] {
  text-align: center;
  padding: 10px 10px 10px 3px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border: #302f2f solid 4px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  background-color: #1c1c1c;
  color: white;
  font-size: 18px;
}

/* Desktop CSS for 'Click here to apply' footer at the bottom of the page */
.applyfooter {
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  width: 33.33333333%;
  margin-left: 33.3333333%;
  margin-right: 33.33333%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 4px none black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

/* Desktop CSS for button of 'Click here to apply' footer at the bottom of the page */
#applybutton {
  background-color: white;
  color: black;
  text-decoration: none;
  border: 2px solid white;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin-left: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: auto;
  font-size: 28px;
}

/* Desktop CSS for call to action buttons throughout all pages */
/* Black version */
button.dynamicButtonBlack {
  color: white;
  background-color: black;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid black;
  font-size: 15px;
  margin: 25px 0 25px 0;
  border-radius: 5px;
  font-weight: 500;
}

/* Hover for black version */
button.dynamicButtonBlack:hover {
  background-color: black;
  color: white;
  padding: 25px 25px;
  margin-top: 20px;
  transition: background-color 0.5s;
  transition: color 0.5s;
  transition: margin-top 0.5s;
  transition: padding 0.5s;
}

/* White version */
button.dynamicButtonWhite {
  color: black;
  background-color: white;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid white;
  font-size: 15px;
  margin-left: 0;
  margin: 25px 0 25px 0;
  border-radius: 5px;
  font-weight: 500;
}

/* Hover for white version */
button.dynamicButtonWhite:hover {
  background-color: white;
  color: black;
  padding: 25px 25px;
  transition: background-color 0.5s;
  transition: color 0.5s;
  transition: padding 0.25s;
  margin-top: 20px;
  transition: background-color 0.5s;
  transition: color 0.5s;
  transition: margin-top 0.5s;
  transition: padding 0.5s;
}

/* Desktop CSS for Section Box Padding */
.sectionbox {
  padding: 0px 150px 0px 150px;
}

/* Change size of elements based on width being 1200px or less */
@media screen and (max-width: 1200px) {

  /* Category button image changes by smaller width and less padding when width is 1200px or less */
  .categorybuttonimg {
    width: 110px;
    padding: 22.5px;
  }
  .sectionbox {
    padding: 0px 25px 0px 25px;
  }
  .sectiontext {
    font-size: 15px;
  }
}

/* Desktop main CSS for category/listing buttons */
.categorybutton {
  background-color: #a8022b;
  margin: 0% 16.67% 0% 16.67%;
  padding: 25px 35px 10px 35px;
  width: 125px;
  height: 125px;
  font-size:20px;
  text-align: center;
  color: white;
  border: gray rounded 2 px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.categorybutton:hover {
  background-color: #800020;
  transition: background-color 0.5s;
  cursor: pointer;
}

.footerheader {
  font-size: 32px;
}

.formSubButton {
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 20px 20px;
  border: 2px none #b50202;
  background-color: black;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.formSubButton:hover {
  cursor: pointer;
  border: 2px none #b50202;
  background-color: red;
  color: white;
  transition: background-color 0.5s;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  margin-bottom: 50px;
  display: none;
  height: 400px;
}

.toprow:after {
  content: "";
  display: table;
  clear: both;
}

.aboutsection {
  border: black none 4px;
  margin-top: 50px;
  background-color: #800020;
  border-radius: 5px;
  color: white;
  text-align: center;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.aboutsection .sectionimg {
  margin: 50px 0 50px 0;
}

.howtosection .sectionimg {
  margin: 50px 0 50px 0;
}

.howtosection {
  border: black none 4px;
  border-radius: 5px;
  color: white;
  margin-top: 50px;
  text-align: center;
  background-color: #b50202;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sectiontext {
  max-width: 450px;
  text-align: left;
}

.sectionheader {
  font-size: 36px;
  text-align: left;
}

#card {
  border: none;
  border-radius: 3px;
}

#mobilelayoutsection {
  display: none;
}

.application {
  border: black none 4px;
  margin-top: 50px;
  background-color: #800020;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.application h3 {
  font-size: 16x;
  font-weight: 500;
  max-width: 50%;
  text-align: center;
  translate: 50% 0%;
}

.application h4 {
  font-size: 14x;
  font-weight: 400;
  max-width: 50%;
  text-align: center;
  translate: 50% 0%;
}

#applicationHeader {
  margin-top: 25px;
  margin-bottom: 25px;
}

#listings {
  margin-bottom: 50px;
}

#benefits {
  margin-bottom: 50px;
}

#desktoplayoutsection {
  display: inline;
}

.applicationtable {
  text-align: center;
  float: center;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .sectionimg {
    width: 350px;
  }
}

#mainheaderbutton {
  background-color: transparent;
  display: block;
  padding: 20px 20px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: 0;
  margin: 25px 0 25px 0;
  font-weight: 500;
  display: inline-block;
  font-size: 30%;
  margin-top: 5px;
  margin-bottom: 15px;
}

@media screen and (max-width: 700px) {
  .navbar {
    display: none;
  }

  .header {
    display: none;
  }

  .section1img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
    background-size: auto;
  }


  #whoAreWeImg {
    margin: 0 0 0 0;
  }

  #tutorialsHomeImg {
    margin: 0 0 0 0;
  }

  .mobilenav {
    display: block;
  }

  .categorybuttonimg {
    width: 85px;
    padding: 15px;
  }

  #categorybuttonheader {
    width: 80px
  }

  .textmainheader {
    font-size: 36px;
  }

  .categorybutton {
    padding: 15px 10px 10px 10px;
    font-size: 14px;
  }

  .productitem {
    width: 100px;
  }

  #mobilelayoutsection {
    display: inline;
    margin-left: 0;
  }

  #desktoplayoutsection {
    display: none;
  }

  .addtocart {
    font-size: 10px;
  }

  #card {
    margin: 0px;
    padding: 0px;
  }

  .productbuttonimg {
    width: 100%;
    padding: 0px;
  }

  .productTable {
    border-spacing: 2px;
  }

  .tutHeader {
    font-size: 24px;
  }

  .sectionbox {
    width: auto;
    display: inline;
  }

  .formsection {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
  }

  #myForm {
    width: 100%;
    margin-right: 0;
  }

  .application {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 0px;
    box-shadow: none;
  }

  .applicationtable {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .formsection {
    width: 95%;
    display: inline;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .sectionimg {
    width: 150px;
    display: inline-block;
    margin-bottom: 0px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .sectionheader {
    text-align: center;
    font-size: 24px;
  }

  .sectiontext {
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
  }

  .aboutsection .sectionimg {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .howtosection .sectionimg {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .howtosection {
    width: 100%;
    margin: 0;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .aboutsection {
    margin: 0;
    width: 100%;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  td#sectionimg.sectionbox {
    padding: 0;
    margin: 0;
  }

  #typeText {
    font-size: 32px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .applyfooter {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }

  button.dynamicButtonWhite {
    font-size: 18px;
    float: center;
    margin-bottom: 50px;
    padding: 14px 14px;
    margin: 30px 100px 30px 100px;
    text-align: center;
    border-radius: 5px;
  }

  button.dynamicButtonBlack {
    font-size: 18px;
    float: center;
    margin-bottom: 50px;
    padding: 14px 14px;
    margin: 30px 100px 30px 100px;
    text-align: center;
  }

  button.dynamicButtonWhite {
    font-size: 18px;
    float: center;
    margin-bottom: 50px;
    padding: 14px 14px;
    margin: 30px 100px 30px 100px;
    text-align: center;
  }

  #applybutton {
    font-size: 20px;
  }

  #mainheaderbutton {
    font-size: 12px;
    padding: 10px 10px;
  }

  button#aboutButton {
    font-size: 14px;
    float: center;
    margin-bottom: 50px;
    padding: 14px 14px;
    width: 50%;
    margin: 20px 25% 20px 25%;
    text-align: center;
  }

  button#newButton {
    font-size: 14px;
    float: center;
    margin-bottom: 50px;
    padding: 14px 14px;
    width: 50%;
    margin: 20px 25% 20px 25%;
    text-align: center;
  }

  #listings {
    margin-bottom: 0;
  }

  #benefits {
    margin-bottom: 0;
  }

  .section1 {
    margin: 0;
  }

  .contacttable .footerheader {
    font-size: 18px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .quicklinks .footerheader {
    font-size: 18px;
  }

  input[type="text"],
  select,
  textarea {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
  }

  input[type='file'] {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
  }

  .application h3 {
    font-size: 16x;
    font-weight: 500;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    translate: none;
  }

  .application h4 {
    font-size: 14x;
    font-weight: 400;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    translate: none;
  }

  .formitem {
    padding: 10px 0px 0px 0px;
  }

  .footerlink {
    font-size: 16px;
    margin: 15px 0px 15px 0px;
  }
}

@media screen and (max-width: 400px) {
  .contacttable .footerheader {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .quicklinks .footerheader {
    font-size: 12px;
  }

  .footerlink {
    font-size: 14px;
    margin: 1px 0px 1px 0px;
  }

  .footer th,
  td {
    padding: 10px 10px 10px 10px;
    height: 40px;
  }

  .formitem {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100px;
  }

  .textmainheader {
    font-size: 36px;
  }

  li.sectiontext {
    text-align: left;
  }
}

.products {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.productCard {
  background-color: #214341;
  margin-bottom: 30px;
  vertical-align: middle;
  text-decoration: none;
}

.productCard:hover {
  background-color: #356b67;
  transition: background-color 0.5s;
}

#productStars {
  color: #fffeab;
}

.productCard:hover~#productStars {
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  width: 100%;
}

.productText {
  max-width: 500px;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
}

#price {
  font-size: 14px;
  max-width: 50%;
}

.categoryName {
  background-color: #214341;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 48px;
  text-align: center;
  width: 100%;
  color: white;
  text-decoration: italic;
}

.buttonsSec {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#catButton {
  float: right;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 16px 20px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  transition: padding 0.5s;
  transition: background-color 0.5s;
  transition: border 0.5s;
}

#catButton:hover {
  background-color: white;
  color: #356b67;
  transition: background-color 0.5s;
  transition: color 0.5s;
}

#catHead {
  margin-top: 10px;
  float: left;
  text-align: left;
  font-size: 30px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .products {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }

  .buttonsSec {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 12px 12px;
  }

  #price {
    font-size: 10px;
    max-width: 50%;
  }

  #staffinfo .productHeader {
    font-size: 18px;
  }

  #catButton {
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding: 12px 16px;
  }

  #allButton {
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding: 12px 12px;
  }

  .products {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #catButton {
    font-size: 13px;
  }

  #catHead {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
  }

  #contactfonts {
    font-size: 20px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion-body {
  margin: 0 0 50px 0;
}

.accordion {
  width: 90%;
  margin: auto;
  color: black;
  margin-top: 50px;
}

.accordion .acccontainer {
  position: relative;
}

/* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

.accordion .acclabel {
  position: relative;
  padding: 10px 0;
  font-size: 26px;
  color: black;
  cursor: pointer;
  font-weight: 300;
}

.accordionheader {
  font-size: 32px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .accordion .acclabel {
    font-size: 18px;
    
  }
}

.accordion .acclabel::before {
  content: "+";
  color: black;
  position: absolute;
  top: 50%;
  right: -10px;
  font-size: 26px;
  transform: translateY(-50%);
}

/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.accordion .acccontent {
  position: relative;
  height: 0;
  font-size: 24px;
  text-align: justify;
  width: 100%;
  font-weight: 200;
  overflow: hidden;
  transition: 0.5s;
}

@media screen and (max-width: 1000px) {
  .accordion .acccontent {
    font-size: 14px;
  }
}

/* Adds a horizontal line between the contents */

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid black;
}

.accordion .acccontainer.accactive .acccontent {
  height: 105px;
}

.accordion .acccontainer.accactive .acclabel::before {
  content: "-";
  font-size: 26px;
}

.applyDescription {
  
  background-color: #69011b;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 4px none black;
  border-radius: 5px;
  padding: 20px 20px;
  text-align: center;
  width: 40%;
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;

}
.applicationDescription {
  background-color: #b50202;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 4px none black;
  border-radius: 5px;
  padding: 20px 20px;
  text-align: center;
  height: 250px;
  width: 40%;
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;

}


.formsection {
  width: 50%;
  padding-top: 25px;
}

#buyButton {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .applyDescription {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 20px;
  }
  .applicationDescription {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 20px;
    height: 300px;
  }
}

@media screen and (max-width: 700px) {
  #buyButton {
    margin-left: 10px;
  }
}

p.sectiontext {
  margin-bottom: 10px;
}

#staffinfo {
  margin-top: 10px;
  padding-bottom: 10px;
}

footer {
  background-color: black;
  padding: 40px 80px;
}

footer p {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer h3 {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.social-links {
  text-align: center;
  color: white;
}

.social-links li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  color: white;
}

.social-links li a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  min-width: 40px;
  height: 40px;
}

.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  transition: all 0.5s;
}

.social-links li a:active,
.social-links li a:hover {
  background-color: #b50202;
  border-radius: 50%;
}

#copyrightLink {
  color: white;
  text-decoration: underline;
  font-weight:600;
}

#copyrightLink:visited {
  color: white;
  text-decoration: underline;
}

#copyrightLink:hover {
  color: white;
  text-decoration: underline;
}

.contactinfo#tutSection {
  text-align: center;
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 15px;
  margin-bottom: 15px;
}

h4#tutSection {
  margin-top: 15px;
}

@media screen and (max-width: 800px) {
  .categoryName {
    font-size: 32px;
  }

  .contactinfo#tutSection {
    text-align: center;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.contactinfo {
  text-align: center;
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

@media screen and (max-width: 1200px) {
  .navbar {
    display: none;
  }

  .header {
    display: none;
  }

  .mobilenav {
    display: block;
  }

  .section1 .textcentered p {
    font-size: 36px;
  }

  .textmainheader {
    max-width: 400px;
    font-size: 36px;
    margin: auto;
  }

  .section2text {
    font-size: 24px;
  }

  .contactinfo {
    max-width: 100%;
    margin: 0%;
  }
}

.navbar {
  overflow: hidden;
}

.dropdown {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 14px 16px;
  margin: 0;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

label {
  border: 2px;
}

.firstfooter {
  background-image: url("../images/clothingBackground.webp");
  height: 315px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px 20px 20px 20px;

}

/* CSS for changing size of the first footer at the bottom of the page */

@media screen and (max-width: 800px) {
  .firstfooter {
    height: 275px;

  }
}

a.whitelink:link{
  color: white;
  font-weight: 600;
}
a.whitelink:visited{
  color: lightgray;
  font-weight: 600;
}
a.whitelink:hover{
  color: white;
}
