/*Makes sticky header */
header {
  z-index: 10000;
  position: sticky;
  padding: 0;
  top: 0px;
  width: 100%;
}

/*Main CSS for navbar bar */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid black;
  background-color: #242322;
}

.navbar li {
  float: left;
  padding: 5px;
}

#navbutton {
  display: block;
  font-weight: 500;
  font-size: 18px;
  width: 130px;
  color: white;
  text-align: center;
  padding: 28px 0px ;
  text-decoration: none;
  border: 1px hidden red;
  border-radius: 2px;
  
}

#navlogo {
  margin-top: 5px;
  display: block;
  color: #666;
  text-align: center;
  text-decoration: none;
}

.navbar ul.scrolled {
  background-color: black;
  transition: 0.5s;
}

/*Main CSS for navbar buttons when not active */
.navbar li a:hover:not(.active) {
  background-color: black;
  transition: background-color 0.5s;
  font-weight: 300px;
}

/*Main CSS for navbar buttons when active */
#navbar a.active {
  color: white;
  background-color: #b50202;
}

/*Main CSS for navbar buttons when hover and active */
#navbar a.active:hover {
  background-color: #de1600;
  transition: background-color 0.5s;
}

/*CSS for navbar buttons for alignment*/
.navbar li a.navbutton {
  float: right;
  color: black;
}

/*Main CSS Mobile Navbar CSS*/
.mobilenav {
  overflow: hidden;
  display: none;
  background-color: #242322;
  color: black;
  font-size: 15px;
  text-align: center;
  border: 1px solid black;
  z-index: 10000;
  position: sticky;
  top: 0px;
  width: 100%;
}

/*Main CSS Mobile Navbar CSS for buttons to be hidden on default*/
.mobilenav #myLinks {
  display: none;
  visibility: hidden;
  opacity: 0;
  background-color: black;
}

#navbar {
  overflow: hidden;
}

/*Main CSS Mobile Navbar CSS for buttons*/
.mobilenav a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: #242322;
  transition: background-color 0.5s;
}

/*Main CSS Mobile Navbar CSS for logo*/
#mobileimage {
  text-align: left;
}

/*Main CSS Mobile Navbar buttons when hovered*/
#myLinks a:hover {
  background: #242322;
  color: white;
  font-size: 17px;
  text-transform: capitalize;
  transition: background-color 0.5s;
}

/*Margin for Current Job Openings Section*/
.indextable {
  margin-top: 45px;
}

/*Main CSS Mobile Navbar icon (tripple lines)*/
.mobilenav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  color: white;
  transition: background-color 0.5s;
}

/*Main CSS Mobile Navbar buttons when active*/
.mobilenav .active {
  background-color: #b50202;
  color: black;
  transition: background-color 0.5s;
}

/*Main CSS Mobile Navbar buttons when active and hovered*/
.mobilenav .active:hover {
  background-color: #b50202;
  color: black;
  transition: background-color 0.5s;
}

@media screen and (max-width: 380px) {
  #mobileimage {
    width: 275px
  }
}