/*Makes sticky header */
header {
  z-index: 10000;
  position: sticky;
  padding: 0;
  top: 0px;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Main CSS for navbar bar */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#navbar {
  background-color: rgba(36,35,34, 1);
  transition: background-color 0.5s;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  will-change: transform;
}

.navbar li {
  float: left;
  padding: 5px;
}

/* CSS for navigation bar button */
#navbutton {
  display: block;
  font-weight: 300;
  font-size: 20px;
  width: 115px;
  color: white;
  text-align: center;
  padding: 20px 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-decoration: none;
  border: 1px hidden red;
  border-radius: 5px;
  opacity: 1;

}

/* CSS for Navigation bar logo*/
#navlogo {
  padding: 3px;
  border-radius: 5px;
  display: block;
  color: #666;
  text-align: center;
  text-decoration: none;
  opacity: 1;
}

.navbar ul.scrolled {
  background-color: black;
  transition: 0.5s;
}

/*Main CSS for navbar buttons when not active */
#navbar li a:hover:not(.active) {
  background-color: rgba(0,0,0,0.3);
  box-shadow: 0 8px 16px 0 rgba(61, 61, 61, 0.2), 0 6px 20px 0 rgba(61, 61, 61, 0.19);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  font-weight: 300px;
  transition: background-color 0.5s, box-shadow 0.5s;
}

/*Main CSS for navbar buttons when active */
#navbar a.active {
  color: white;
  border-radius: 5px;
  background-color: rgba(181,2,2,0.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8x);
}

/*Main CSS for navbar buttons when hover and active */
#navbar a.active:hover {
  background-color: rgba(255, 25, 0, 0.6);
  box-shadow: 0 8px 16px 0 rgba(61, 61, 61, 0.2), 0 6px 20px 0 rgba(61, 61, 61, 0.19);
  transition: background-color 0.5s, box-shadow 0.5s;
}

/*CSS for navbar buttons for alignment*/
.navbar li a.navbutton {
  float: right;
  color: black;
}

/*Mobile Navbar Class CSS*/
.mobilenav {
  overflow: hidden;
  display: none;
  color: black;
  font-size: 15px;
  text-align: center;
  border: 1px solid black;
  z-index: 10000;
  position: sticky;
  top: 0px;
  width: 100%;
}
/*Mobile Navbar ID CSS*/
#mobilenav {
  background-color: rgba(36,35,34, 1);
  transition: background-color 0.5s;
  backdrop-filter: blur(8px);
}

/*Main CSS Mobile Navbar CSS for buttons to be hidden on default*/
.mobilenav #myLinks {
  display: none;
  visibility: hidden;
  opacity: 0;
  background-color: black;
}

#navbar {
  overflow: hidden;
}

/*Main CSS Mobile Navbar CSS for buttons*/
.mobilenav a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: #242322;
  transition: background-color 0.5s;
}

/*Main CSS Mobile Navbar CSS for logo*/
#mobileimage {
  text-align: left;
}

/*Main CSS Mobile Navbar buttons when hovered*/
#myLinks a:hover {
  background: #242322;
  color: white;
  font-size: 17px;
  text-transform: capitalize;
  transition: background-color 0.5s;
}

/*Margin for Current Job Openings Section*/
.indextable {
  margin-top: 45px;
}

/*Main CSS Mobile Navbar icon (tripple lines)*/
.mobilenav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  color: white;
  transition: background-color 0.5s;
}

/*Main CSS Mobile Navbar buttons when active*/
.mobilenav .active {
  background-color: #b50202;
  color: black;
  transition: background-color 0.5s;
}

/*Main CSS Mobile Navbar buttons when active and hovered*/
.mobilenav .active:hover {
  background-color: #b50202;
  color: black;
  transition: background-color 0.5s;
}

@media screen and (max-width: 380px) {
  #mobileimage {
    width: 275px
  }
}